<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ssm.mapper.LearnMapper">
    <select id="getRegContentById" parameterType="int" resultType="String">
       select file_content
       from regulation_rules
       where file_id = #{regulationId}
    </select>
     <select id="getSysNoticeById" parameterType="int" resultType="com.ssm.pojo.SystemNotice">
       select *
       from system_notice
       where notice_id = #{noticeId}
    </select>    
     <select id="getNoticeAmount"  resultType="int">
       select count(*)
       from system_notice
    </select>
    <select id="getRegulationAmount" resultType="int">
       select count(*)
       from regulation_rules    
    </select>    
    <select id="getRegulationById"  parameterType="int" resultType="com.ssm.pojo.Regulation">
       select *
       from regulation_rules
       where file_id = #{regulationId}
    </select>
    <select id="getFileById" parameterType="int" resultType="com.ssm.pojo.LearningFile">
        select *
        from learning_file
        where file_id = #{fileId}     
    </select>
 
 </mapper>
 